In [1]:
#Data cleaning example: US states and population
import pandas as pd
import numpy as np

url1 = 'https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv'
url2 = 'https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv'
url3 = 'https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv'

pop = pd.read_csv(url1)
areas = pd.read_csv(url2)
abbrevs = pd.read_csv(url3)

print(pop.head()); print(areas.head());print(abbrevs.head())

print(pop.shape, areas.shape, abbrevs.shape)

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707
        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA
(2544, 4) (52, 2) (51, 2)

In [2]:
#Merge three datasets
merged = pd.merge(pop, abbrevs, left_on = 'state/region', right_on = 'abbreviation', how = 'outer')
merged = merged.drop('abbreviation', axis =1)
merged

#check null values
merged.isnull().any()
np.sum(merged.isnull())

state/region     0
ages             0
year             0
population      20
state           96
dtype: int64

In [3]:
merged.loc[merged['population'].isnull()]
merged.loc[merged['state'].isnull()]['state/region'].unique()

len(merged.loc[merged['state/region']== 'PR']['state'])

merged.loc[merged['state/region']== 'PR','state'] = 'Puerto Rico'
merged.loc[merged['state/region']== 'USA','state'] = 'United States'
merged.isnull().any()

#merged = merged.dropna()
merged.dropna(inplace = True)
merged.isnull().any()
merged.shape

final = pd.merge(merged, areas, on = 'state', how = 'left' )
final.loc[final['area (sq. mi)'].isnull()]

final.dropna(inplace = True)
final

     state/region     ages  year  population        state  area (sq. mi)
0              AL  under18  2012   1117489.0      Alabama        52423.0
1              AL    total  2012   4817528.0      Alabama        52423.0
2              AL  under18  2010   1130966.0      Alabama        52423.0
3              AL    total  2010   4785570.0      Alabama        52423.0
4              AL  under18  2011   1125763.0      Alabama        52423.0
...           ...      ...   ...         ...          ...            ...
2471           PR  under18  2010    896945.0  Puerto Rico         3515.0
2472           PR  under18  2011    869327.0  Puerto Rico         3515.0
2473           PR    total  2011   3686580.0  Puerto Rico         3515.0
2474           PR  under18  2012    841740.0  Puerto Rico         3515.0
2475           PR    total  2012   3651545.0  Puerto Rico         3515.0

[2476 rows x 6 columns]

In [6]:
#in-class exercise
data2010 = final.query(" year == 2010 & ages == 'total' ")
data2010['density'] = data2010['population']/data2010['area (sq. mi)']

/var/folders/jr/5dfwzgfn22n3n418d00h4dhc0000gn/T/ipykernel_10778/40183281.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2010['density'] = data2010['population']/data2010['area (sq. mi)']

,state/region,ages,year,population,state,area (sq. mi),density
3,AL,total,2010,4785570.0,Alabama,52423.0,91.287603
91,AK,total,2010,713868.0,Alaska,656425.0,1.087509
101,AZ,total,2010,6408790.0,Arizona,114006.0,56.214497
189,AR,total,2010,2922280.0,Arkansas,53182.0,54.948667
197,CA,total,2010,37333601.0,California,163707.0,228.051342
283,CO,total,2010,5048196.0,Colorado,104100.0,48.493718
293,CT,total,2010,3579210.0,Connecticut,5544.0,645.600649
379,DE,total,2010,899711.0,Delaware,1954.0,460.445752
389,DC,total,2010,605125.0,District of Columbia,68.0,8898.897059
475,FL,total,2010,18846054.0,Florida,65758.0,286.597129
485,GA,total,2010,9713248.0,Georgia,59441.0,163.409902
570,HI,total,2010,1363731.0,Hawaii,10932.0,124.746707
581,ID,total,2010,1570718.0,Idaho,83574.0,18.794338
666,IL,total,2010,12839695.0,Illinois,57918.0,221.687472
677,IN,total,2010,6489965.0,Indiana,36420.0,178.197831
762,IA,total,2010,3050314.0,Iowa,56276.0,54.202751
773,KS,total,2010,2858910.0,Kansas,82282.0,34.745266
858,KY,total,2010,4347698.0,Kentucky,40411.0,107.586994
869,LA,total,2010,4545392.0,Louisiana,51843.0,87.676099
954,ME,total,2010,1327366.0,Maine,35387.0,37.509990
965,MD,total,2010,5787193.0,Maryland,12407.0,466.445797
1050,MA,total,2010,6563263.0,Massachusetts,10555.0,621.815538
1061,MI,total,2010,9876149.0,Michigan,96810.0,102.015794
1146,MN,total,2010,5310337.0,Minnesota,86943.0,61.078373
1157,MS,total,2010,2970047.0,Mississippi,48434.0,61.321530
1242,MO,total,2010,5996063.0,Missouri,69709.0,86.015622
1253,MT,total,2010,990527.0,Montana,147046.0,6.736171
1338,NE,total,2010,1829838.0,Nebraska,77358.0,23.654153
1349,NV,total,2010,2703230.0,Nevada,110567.0,24.448796
1434,NH,total,2010,1316614.0,New Hampshire,9351.0,140.799273
1445,NJ,total,2010,8802707.0,New Jersey,8722.0,1009.253268
1530,NM,total,2010,2064982.0,New Mexico,121593.0,16.982737
1541,NY,total,2010,19398228.0,New York,54475.0,356.094135
1626,NC,total,2010,9559533.0,North Carolina,53821.0,177.617157
1637,ND,total,2010,674344.0,North Dakota,70704.0,9.537565
1722,OH,total,2010,11545435.0,Ohio,44828.0,257.549634
1733,OK,total,2010,3759263.0,Oklahoma,69903.0,53.778278
1818,OR,total,2010,3837208.0,Oregon,98386.0,39.001565
1829,PA,total,2010,12710472.0,Pennsylvania,46058.0,275.966651
1914,RI,total,2010,1052669.0,Rhode Island,1545.0,681.339159
1925,SC,total,2010,4636361.0,South Carolina,32007.0,144.854594
2010,SD,total,2010,816211.0,South Dakota,77121.0,10.583512
2021,TN,total,2010,6356683.0,Tennessee,42146.0,150.825298
2106,TX,total,2010,25245178.0,Texas,268601.0,93.987655
2117,UT,total,2010,2774424.0,Utah,84904.0,32.677188
2202,VT,total,2010,625793.0,Vermont,9615.0,65.085075
2213,VA,total,2010,8024417.0,Virginia,42769.0,187.622273
2298,WA,total,2010,6742256.0,Washington,71303.0,94.557817
2309,WV,total,2010,1854146.0,West Virginia,24231.0,76.519582
2394,WI,total,2010,5689060.0,Wisconsin,65503.0,86.851900
2405,WY,total,2010,564222.0,Wyoming,97818.0,5.768079
2470,PR,total,2010,3721208.0,Puerto Rico,3515.0,1058.665149

In [7]:
from xlsxwriter import Workbook

# creating file var to store density xlsx file
file = pd.ExcelWriter('Density.xlsx', engine = 'xlsxwriter')

# converting csv to xlsx
data2010.to_excel(file)

# saving file
file.save()